/*Universal Box Sizing with Inheritance*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Standartfont Sourcecode */
  font-family: 'Source Code Pro', monospace;
  /* Set Text Color White */
  color: white;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

/* @keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.canvas-1-wrap {
  position: fixed;
  top: -40vh;
  left: -15vw;
  display: flex;
  height: 130vw;
  width: 130vw;
  border-radius: 80%;
  z-index: -1;
  padding: 0;
  margin: 0;
  animation: spin;
  animation-duration: 400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

/* #secondCanvas {
  display: block;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid red;
  cursor: none;
} */
.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 25, 0.7),
    rgba(0, 0, 50, 0.7) 15%,
    rgba(40, 5, 60, 0.7) 55%);
  z-index: -1;
}

.background-2 {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: -2;
}

.background img {
  width: 100%;
}

.background-2 img {
  width: 100%;
}

@media only screen and (min-width: 1921px) {
  body {
    overflow: hidden;
  }

  .background {
    margin-top: 5%;
  }

  .background img {
    width: 100%;
    height: 130%;
  }

  .canvas-1-wrap {
    position: fixed;
    top: -50vh;
    left: -21vw;
    display: flex;
    height: 140vw;
    width: 140vw;
    border-radius: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
    animation: spin;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
  }

  #canvas {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
  }
}
